:root {
    --colour-blue-900: hsl(0,0%,0%);
    --colour-blue-600: hsl(274,67%,58%);
    --colour-pink-600: hsl(321,92%,15%);
    --colour-pink-300: hsl(76,100%,18%);
    --colour-grey: hsl(232, 10%, 56%);
    --colour-white: hsl(0, 0%, 100%);
    --gradient-purple: linear-gradient(hsl(68, 70%, 42%), hsl(68, 46%, 60%));
    --gradient-pink: linear-gradient(hsl(146, 46%, 60%), hsl(332, 46%, 60%));


}

*, *::before, *::after {

    box-sizing: border-box;
}

main {
    overflow-x: clip;
}

body {
    font-family: 'Plus Jakarta Sans', 'Arial, Helvetica, sans-serif';
    font-weight: 500;
    margin: 0;
}

h1, h2, h3 {
    line-height: 1.2;
    margin: 0;
    font-weight: 800;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    color: var(--colour-grey);
    line-height: 1.5;
    max-width: 35ch;
}
.button {
    display: inline-block;
    font-size: var(--fs-7);
    font-weight: 700;
    line-height: 1.5;
    padding: 10.5px 24px;
    border-radius: 28px;
    transition: 150ms ease-in-out;
    transition-property: opacity;
   
}

.button.dark {
    background: var(--colour-blue-900);
    color: var(--colour-white);

}

.button.dark:hover {
    background: var(--colour-blue-600);
    
}

.button.light {
    background: var(--gradient-purple);
    color: var(--colour-white);
    

}

.button.light:hover {
    background: var(--colour-blue-600);
    
}


.button.pink {
    background: var(--gradient-pink);
    color: var(--colour-white);

}

.button.pink:hover {
    opacity: 0.7;
    

}

@media (width >= 75em) {
    .button {
        padding: 16px 32px;
    }
}
/* plus-jakarta-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* plus-jakarta-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* plus-jakarta-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* plus-jakarta-sans-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/plus-jakarta-sans-v8-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --fs-1: clamp(2.5rem, 0.4230769230769229rem + 4.102564102564102vw, 3.5rem);
    --fs-2: clamp(2rem, 0.9615384615384615rem + 2.051282051282051vw, 2.5rem);
    --fs-3: clamp(1.5rem, 0.46153846153846145rem + 2.051282051282051vw, 2rem);
    --fs-4: clamp(1.25rem, 0.7307692307692307rem + 1.0256410256410255vw, 1.5rem);
    --fs-5: 1.125rem;
    --fs-6: clamp(0.875rem, 0.6153846153846154rem + 0.5128205128205128vw, 1rem);
    --fs-7: 1.125rem;
  }
.wrapper {

    padding-inline: 30px;
}

@media (width >= 50.625em) {
    .wrapper {

        padding-inline: 50px;
    }
    
}

@media (width >= 75em) {
    .wrapper {
        padding-inline: 55px;
    }
    
}
.header {

display: flex;
justify-content: space-between;
align-items: center;
padding-block: 16px;
}

.header h3 {
color: var(--colour-grey);

}

@media (width >= 50.625em) {
    .header {
        padding-block: 34px;
        font-size: 20px;
    }
}

@media (width >= 75em) {
    .header h3 {
        font-size: 24px;
        
        
    }

    

    
}
.hero {
    display: grid;
    row-gap: 48px;
    padding-block: 64px;

}

.hero h1 {
    font-size: var(--fs-1);
    color: var(--colour-blue-900);
}   

.hero p {

    margin-block: 24px 40px;
}

.hero picture {
    justify-self: center;
    margin-left: -20px;
    margin-right: -20px;
    pointer-events: none;

    
}

@media (width >= 48em) {
    .hero {

        grid-template-columns: repeat(2, 1fr);
        position: relative;
    }

    .hero_text {
        padding-inline-end: 0;
        padding-block: 42px;
    }

    .hero picture{

        position: absolute;
        translate: 50% 5%;
        margin-left: 0;
        margin-right: 0;


    }
    
}

@media (width >= 64em) {
   .hero picture{
    translate: 80% 10%;
    
}
.hero_text {

    padding-block: 110px;
}

   } 
.treatments {

background: linear-gradient(#ffffff, #f0f1ff 40%);
padding-block: 24px 80px;
}

.treatments .wrapper{
display: grid;
row-gap: 50px;
}

.treatments .block {
padding: 64px 32px 40px;
border-radius: 15px;

}

.treatments .block.title {
background: var(--gradient-pink);
color: var(--colour-white);
padding: 32px;

}

.treatments h2 {
    font-size: var(--fs-3);
}

.treatments .treatment {
    background: var(--colour-white);
    position: relative;
    display: grid;
    gap: 24px;
    grid-template-rows: min-content 1fr min-content;
}

.treatments img {
    position: absolute;
    top: 0;
    translate: 32px -50% ;
}

.treatments h3 {
    font-size: var(--fs-4);
}

.treatments p {
    font-size: var(--fs-5);
    margin: 0;
}

.treatments a {
    font-size: var(--fs-7);
    font-weight: 700;
    color: var(--colour-pink-600);
    transition: opacity 150ms ease-in-out;
    align-self: end;
}

.treatments a:hover {
    opacity: 50%;
}

@media (width >= 50.625em) {

    .treatments .wrapper {

        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    .treatments .block.title {

        padding-block-start: 64px;
    }
}

@media (width >= 75em) {

    .treatments .wrapper {

        grid-template-columns: repeat(3, 1fr);
        gap: 64px 32px;
    }

    
}
.footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 16px;
    background: var(--colour-blue-900);
    }
    
    .footer h3 {
    color: var(--colour-grey);
    
    }

    .list {
        font-size: smaller;

        list-style: none;
        color: aqua;
    }
    
    @media (width >= 50.625em) {
        .footer {
            padding-block: 34px;
            font-size: 20px;
        }
    }
    
    @media (width >= 75em) {
        .footer h3 {
            font-size: 24px;
        
            
        }

        
    }
    
