:root {
    --colour-blue-900: hsl(233,54%,16%);
    --colour-blue-600: hsl(234,25%,52%);
    --colour-pink-600: hsl(341,92%,62%);
    --colour-pink-300: hsl(341,100%,83%);
    --colour-grey: hsl(232, 10%, 56%);
    --colour-white: hsl(0, 0%, 100%);
    --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
    --gradient-pink: linear-gradient(hsl(322, 87%, 55%), hsl(13, 100%, 64%));


}

*, *::before, *::after {

    box-sizing: border-box;
}

main {
    overflow-x: clip;
}

body {
    font-family: 'Plus Jakarta Sans', 'Arial, Helvetica, sans-serif';
    font-weight: 500;
    margin: 0;
}

h1, h2, h3 {
    line-height: 1.2;
    margin: 0;
    font-weight: 800;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    color: var(--colour-grey);
    line-height: 1.5;
    max-width: 35ch;
}
.button {
    display: inline-block;
    font-size: var(--fs-7);
    font-weight: 700;
    line-height: 1.5;
    padding: 10.5px 24px;
    border-radius: 28px;
    transition: 150ms ease-in-out;
    transition-property: opacity;
   
}

.button.dark {
    background: var(--colour-blue-900);
    color: var(--colour-white);

}

.button.dark:hover {
    background: var(--colour-blue-600);
    
}

.button.light {
    background: var(--gradient-purple);
    color: var(--colour-white);
    

}

.button.light:hover {
    background: var(--colour-blue-600);
    
}


.button.pink {
    background: var(--gradient-pink);
    color: var(--colour-white);

}

.button.pink:hover {
    opacity: 0.7;
    

}

@media (width >= 75em) {
    .button {
        padding: 16px 32px;
    }
}

